# requirements.txt
customtkinter==5.2.2
llama-cpp-python
SpeechRecognition
psutil
Pillow
requests
EbookLib
beautifulsoup4
scikit-learn
PyMuPDF
faiss-cpu
sentence-transformers
pyttsx3
python-dotenv
numpy